.images{
  display:flex;
  justify-content:center;
  align:center;
  flex-direction:column;
}

.credits{
  font-style:italic;
  display:flex;
text-align:center;
flex-basis: auto;
font-size:16px;
padding:5px;
justify-content:center;

}


.story{
justify-content:center;
padding:5px;
align:center;
width:100%;
height:auto;
text-align:center;
background-color:floralwhite;
position:relative;
display:flex;
flex-direction: column;
justify-content: center;

}


h1{
/*display:flex;
justify-content: center;*/
font-size: 25px;
/*font-family: 'Poppins', sans-serif;*/
margin-left:auto;
margin-right:auto;
/*background-color:gainsboro;*/
border-radius: 5;
  align:center;
  width: auto;
  height: auto; 
}
 


h3{
  margin-left:auto;
margin-right:auto;
/*background-color:gainsboro;*/
border-radius: 7;
  align:center;
  width: auto;
  height: auto; 
  font-style:italic;

}

.byline{
/*display:flex;
justify-content: center;*/
/*font-family:'poppins', sans-serif;*/
border-radius: 75%;
font-size: 18px;
text-align:center;
margin-left:auto;
margin-right:auto;
/*background-color:gainsboro;*/
  padding: 10px; 
  width: auto;
  height: auto;  

}


.text-info{
/*display:flex;*/
text-align:center;
/*flex-basis: auto;*/
font-size:16px;
padding:5px;
/*justify-content:normal;*/
}


.chart {
display:flex;
flex-wrap:wrap;
justify-content:center;
/*align-content:center;*/
padding:25px;
max-width:100%;
height:auto;

}
